{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

    <table class="ui celled table">
        <thead>
        <tr>
            <th>Descripción</th>
            <th>Fecha</th>
            <th>Terminado</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
        <tr>
            <td>{{ task.description }}</td>
            <td>{{ task.createdAt | date }}</td>
            <td>{{ task.done ? 'Sí' : 'No' }}</td>
            <td><a href="{{ path('task_edit', {id: task.id}) }}" class="ui button">Editar tarea</a></td>
        </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th>
                <a href="{{ path('task_new') }}" class="ui button">Crear tarea</a>
            </th>
        </tr>
        </tfoot>
    </table>

{% endblock %}
